*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    max-width: 100vw;
    max-height: 100vh;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}
.info{
    display: flex;
    margin-left: 50px;
    gap: 20px;
}



.fa-envelope, .fa-map{
    color: orangered;
    margin-right:5px ;
}

.icons{
    padding-top: 5px;
    display: flex;
    margin-right: 100px;
    justify-content: end;
    gap: 20px;
    font-size: 1.2em;
    color: gray;
    transition: color 1s ease;
}


.icons>div:hover{
    color: orangered;
    cursor: pointer;
}

.nav-list{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    height: 80px;
    width: 1500px;

}
.nav-lists{
    display: flex;
    margin-top: 10px;
    margin-left: 140px;
    
}

.logo{
    margin-left:100px;

}

.items {
    display: flex;
    justify-content: flex-start;

}

li{
    list-style-type: none;
    margin-right: 50px;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.5s ease;
    
}

.cal-button{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 180px;
    height: 30px;
    background-color: black;
    border-radius: 25px;
    gap: 10px;
}

.icon{
    background-color:orangered;
    border-radius: 25px;
    color: white;
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 1.1em;
}
.cal-button span{
    color: white;
}

.nav-list:hover{
    cursor: pointer;
}

li>a:hover{
    color: orangered;
}

.banner{
    position: relative;

}

.ban img{
    margin-top: 20px;
    width: 98vw;
    height: 700px;
    overflow: hidden;

}

.content{
    position: absolute;
    top: 150px;
    left: 150px;

}

.title{
    background-color: white;
    width: 130px;
    display: flex;
    justify-content: center;
}

.content h2{
    color: white;
    font-size: 3em;
    font-weight: bold;
}


.featured{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 100px;
    gap: 10px;
}

.banner1 img{
    width: 500px;
    height: 500px;
}

.content1{
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle1 h2{
    font-size: 2.5em;
    font-weight: bold;
}

.accordian{
    border-radius: 5px;
}

.titles{
    display: block;
    padding: 10px;
    border:2px solid lightslategray;
    border-radius: 5px;
}

.titles:hover{
    background-color: whitesmoke;
}


.item a{
    text-decoration: none;
    color: black;
    position: relative;
}

.subcontent{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease;

}

.subcontent p{
    padding: 10px;
}

.subcontent:target{
    max-height: 110px;
    border: solid whitesmoke;
    border-radius: 5px;

}

a span{
    position: absolute;
    right: 10px;
}

.details{
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid grey;
    background: white;
    padding: 20px;

}

.distance, .contract, .payment, .safety{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 5px;

}

.distance i{
    font-size: 2em;
    color: orangered;
    margin-top: 10px;
}

.contract i{
    font-size: 2em;
    color: orangered;
    margin-top: 10px;
}

.payment i{
    font-size: 2em;
    color: orangered;
    margin-top: 10px;
}

.safety i{
    font-size: 2em;
    color: orangered;
    margin-top: 10px;
}


    .videoview{
    width: 100wh;
    height: 60vh;
    margin-top: 80px;
    background: url(../Images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.video-head{
    position: absolute;
    left: 45%;
    color: red;
    top: 20px;
}

.video-content{
    left: 38%;
    position: absolute;
    top: 50px;
}

.video-content h2{
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}
.video-banner img{
    width: 1100px;
    height: 500px;
    position: absolute;
    left: 15%;
    top: 40%;
    border-radius: 10px;
}

.video-icon{
    position: absolute;
    color: white;
    left: 50%;
    top: 85%;
    font-size: 3em;
    cursor: pointer;
}
.video-icon i{
    background-color: orangered;
    padding: 6px;
    border-radius: 50px;
}

.cards{
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;

    

}

.card-box{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 221, 181);
    border-radius:10px ;
    width: 250px;
    height: 90px;
    position: relative;
}

.box-content{
    font-size: 2em;
    font-weight: bold;
    color: orangered;
}

.box-description{
    font-weight: bold;
}

.circle{
    background-color: orangered;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    position: absolute;
    right: -13px;
    top: -13px;
}

.bestdeal{
    margin-top: 100px;
    padding: 30px;

}
.best-tit h6{
    color: red;
}

.best-head{
    display: flex;
    justify-content: space-between;
}

.best-title h2{
    font-size: 3em;
    font-weight: bold;
}

.best-button{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 20px;
}

.best-but{
    background-color: black;
    height: 40px;
    width: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 5px;

}

.best-but .orange{
    background-color: orangered;
}

.best-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    height: 400px;
}

.best-details{
    background-color: #dfe4ea;
    border-radius: 5px;

}

.flat{
    display: flex;
    gap: 20px;
    justify-content: start;
    padding: 20px;
}

.flat h4{
    font-weight: bold;
    
}

.best-ban img{
    height: 400px;
    width: 600px;
    border-radius: 5px;
}

.best-description{
    display: flex;
    flex-direction: column;
    gap: 15px;
}