*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    width: 100wh;
    height: 100vh;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.info{
    display: flex;
    margin-left: 50px;
    gap: 20px;
}



.fa-envelope, .fa-map{
    color: orangered;
    margin-right:5px ;
}

.icons{
    padding-top: 5px;
    display: flex;
    margin-right: 100px;
    justify-content: end;
    gap: 20px;
    font-size: 1.2em;
    color: gray;
    transition: color 1s ease;
}


.icons>div:hover{
    color: orangered;
    cursor: pointer;
}

.nav-list{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;

}
.nav-lists{
    display: flex;
    margin-top: 10px;
    margin-left: 140px;
    
}

.logo{
    margin-left:100px;

}

.items {
    display: flex;
    justify-content: flex-start;

}

li{
    list-style-type: none;
    margin-right: 50px;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.5s ease;
    
}

.cal-button{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 180px;
    height: 30px;
    background-color: black;
    border-radius: 25px;
    gap: 10px;
}

.icon{
    background-color:orangered;
    border-radius: 25px;
    color: white;
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 1.1em;
}
.cal-button span{
    color: white;
}

.nav-list:hover{
    cursor: pointer;
}

li>a:hover{
    color: orangered;
}

.banner{
    position: relative;

}

.ban img{
    margin-top: 20px;
    width: 98vw;
    height: 700px;
    overflow: hidden;

}

.content{
    position: absolute;
    top: 150px;
    left: 150px;

}

.title{
    background-color: white;
    width: 130px;
    display: flex;
    justify-content: center;
}

.content h2{
    font-size: 3em;
    font-weight: bold;
}

.featured{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 100px;
    gap: 10px;
}

.banner1 img{
    width: 500px;
    height: 450px;
}

.content1{
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle1 h2{
    font-size: 2.5em;
    font-weight: bold;
}
.accordian{
    border-radius: 5px;
}

.titles{
    display: block;
    padding: 10px;
    border:2px solid lightslategray;
    border-radius: 5px;


}

.titles:hover{
    background-color: whitesmoke;
}


.item a{
    text-decoration: none;
    color: black;
    position: relative;
}

.subcontent {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease;

}

.subcontent p{
    padding: 10px;
}

.subcontent:target{
    max-height: 110px;
    border: solid whitesmoke;
    border-radius: 5px;

}

a span{
    position: absolute;
    right: 10px;
}

.details{
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    background: whitesmoke;
    padding: 30px;

}

.distance, .contract, .payment, .safety{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 5px;
    

}

.distance i{
    font-size: 2em;
    color: orangered;
    margin-top: 10px;

}

.contract i{
    font-size: 2em;
    color: orangered;
    margin-top: 10px;

}

.payment i{
    font-size: 2em;
    color: orangered;
    margin-top: 10px;

}

.safety i{
    font-size: 2em;
    color: orangered;
    margin-top: 10px;
}
